.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(156, 156, 156);
  background-color: white;
}

.tablinks{
  font-size: 15px;
  background-color: rgb(238, 231, 231);
  font-family:'Lato', sans-serif;
  border-color:rgb(173, 173, 173);
  text-transform: uppercase;
  margin-right: .2px;
  border-radius: 3px;
  padding: 15px 32px;
}


.panels > div {
  border: 1px solid rgb(255, 255, 255);
}

.panels {
  position: relative;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 500px auto auto;
  grid-template-rows: auto auto;
}
.WeeklyPerformance {
  position: relative;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1600px auto auto;
  grid-template-rows: auto auto;

}

.panel-info {
  grid-row: span 1;
}
.panel-positions {
  grid-column: span 3;
}
.PerformancePanel{
  position: relative;
  font-size: medium;
  text-align: center;
  float:right;
  font-size: 28px;
  color: black;
  border: 2px solid rgb(255, 255, 255);
  padding-left: 20px;
}


#pieChart{
  width: 90%;
  height: 90%;
  background-color: aliceblue;
}

#barChart{
  width: 60%;
  height: 40%;
}
#GrossMargins{
  width: 50%;
  height: 40%;
}
#scatterChart{
  width: 40%;
  height: 40%;
}

#SectorChart{
  width: 100%;
  height: 80%;
}

#LineChart{
  width: 100%;
  height: 80%;
}

#footer{
  font-size: 15px;
}

.panel-info{
  grid-column: span 4;
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 0px 0px;
  color:black;
}

.collapsible .content {
  padding: 6px;
  background-color: #282c34;
}
.collapsible .header {
  background-color: #282c34;
  padding: 6px;
  cursor: pointer;
}


@media only screen and (max-device-width: 480px){
  .panels{
    display: inline-block;
    max-width: 470px;
    
  }

  .PerformancePanel{
    display: inline-flex;
    
  }
  .panel-positions{
    display: inline-flex;
  }
  #pieChart{
    display: none;
  }
  #LineChart{
    display: inline-flex;
  }
  #barChart{
    display: none;
  }
  #scatterChart{
    display: none;
  }

}

