.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.panels > div {
  
  border: 1px solid black;
}

.panels {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 500px auto auto;
  grid-template-rows: auto auto;
}
.panel-info {
  grid-row: span 1;
}
.panel-positions {
  grid-column: span 3;
}
.PerformancePanel{
  font-size: medium;
  text-align: center;
}


#pieChart{
  width: 90%;
  height: 90%;

}

#barChart{
  width: 60%;
  height: 40%;
}

#scatterChart{
  width: 40%;
  height: 40%;
}

#SectorChart{
  width: 100%;
  height: 80%;
}

#LineChart{
  width: 80%;
  height: 80%;
}


.collapsible .content {
  padding: 6px;
  background-color: #282c34;
}
.collapsible .header {
  background-color: #282c34;
  padding: 6px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-device-width: 480px){
  .panels{
    display: inline-block;
    max-width: 470px;
    
  }
  .PerformancePanel{
    display: inline-flex;
  }
  .panel-positions{
    display: inline-flex;
  }
  #pieChart{
    display: none;
  }
  #LineChart{
    display: none;
  }
  #barChart{
    display: none;
  }
  #scatterChart{
    display: none;
  }
}